<div class="btn-group">
  <button class="move-btn btn">
    <i class="icon-move"></i>
  </button>
</div>
<div class="btn-group dropup">
  <button class="dropdown-btn btn">
    <i class="icon-<%= icon %>"></i> <%= label %>
  </button>
  <button class="dropdown-toggle btn" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a class="road-btn" href="#">
        <i class="icon-road"></i> Road
      </a>
    </li>
    <li>
      <a class="home-btn" href="#">
        <i class="icon-home"></i> House
      </a>
    </li>
    <li>
      <a class="farm-btn" href="#">
        <i class="icon-leaf"></i> Farm
      </a>
    </li>
    <li>
      <a class="mine-btn" href="#">
        <i class="icon-filter"></i> Mine
      </a>
    </li>
    <li>
      <a class="lumber-mill-btn" href="#">
        <i class="icon-inbox"></i> Lumber Mill
      </a>
    </li>
    <li>
      <a class="water-well-btn" href="#">
      <i class="icon-tint"></i> Water Well
      </a>
    </li>
    <li>
      <a class="factory-btn" href="#">
      <i class="icon-cogs"></i> Factory
      </a>
    </li>
  </ul>
</div>
<div class="btn-group">
  <button class="remove-btn btn">
    <i class="icon-trash"></i>
  </button>
</div>
