.entity-tile.creature-tile {
  pointer-events: none;
  background-position: -64px -608px;
}

.entity-tile.walk-north,
.entity-tile.work-north {
  background-position: -0px -608px;
}

.entity-tile.walk-east,
.entity-tile.work-east {
  background-position: -32px -608px;
}

.entity-tile.walk-south,
.entity-tile.work-south {
  background-position: -64px -608px;
}

.entity-tile.walk-west,
.entity-tile.work-west {
  background-position: -96px -608px;
}

.entity-tile.carry-north,
.entity-tile.sleep-north {
  background-position: -128px -608px;
}

.entity-tile.carry-east,
.entity-tile.sleep-east {
  background-position: -160px -608px;
}

.entity-tile.carry-south,
.entity-tile.sleep-south {
  background-position: -192px -608px;
}

.entity-tile.carry-west,
.entity-tile.sleep-west {
  background-position: -224px -608px;
}
