.creature-tile {
  -webkit-animation: sleepSouth 1s steps(2) infinite;
  pointer-events: none;
}

.walk-east {
  -webkit-animation: walkEast 1s steps(4) infinite;
}

.walk-west {
  -webkit-animation: walkWest 1s steps(4) infinite;
}

.walk-north {
  -webkit-animation: walkNorth 1s steps(4) infinite;
}

.walk-south {
  -webkit-animation: walkSouth 1s steps(4) infinite;
}

.sleep-east {
  -webkit-animation: sleepEast 1s steps(2) infinite;
}

.sleep-west {
  -webkit-animation: sleepWest 1s steps(2) infinite;
}

.sleep-north {
  -webkit-animation: sleepNorth 1s steps(2) infinite;
}

.sleep-south {
  -webkit-animation: sleepSouth 1s steps(2) infinite;
}

@-webkit-keyframes walkEast {
  from { background-position: 0 -288px; }
  to { background-position: -64px -288px; }
}

@-webkit-keyframes walkNorth {
  from { background-position: -64px -288px; }
  to { background-position: -128px -288px; }
}

@-webkit-keyframes walkWest {
  from { background-position: -128px -288px; }
  to { background-position: -192px -288px; }
}

@-webkit-keyframes walkSouth {
  from { background-position: -192px -288px; }
  to { background-position: -256px -288px; }
}

@-webkit-keyframes carryEast {
  from { background-position: 0 -304px; }
  to { background-position: -64px -304px; }
}

@-webkit-keyframes carryNorth {
  from { background-position: -64px -304px; }
  to { background-position: -128px -304px; }
}

@-webkit-keyframes carryWest {
  from { background-position: -128px -304px; }
  to { background-position: -192px -304px; }
}

@-webkit-keyframes carrySouth {
  from { background-position: -192px -304px; }
  to { background-position: -256px -304px; }
}

@-webkit-keyframes sleepEast {
  from { background-position: 0 -320px; }
  to { background-position: -32px -320px; }
}

@-webkit-keyframes sleepNorth {
  from { background-position: -32px -320px; }
  to { background-position: -64px -320px; }
}

@-webkit-keyframes sleepWest {
  from { background-position: -64px -320px; }
  to { background-position: -96px -320px; }
}

@-webkit-keyframes sleepSouth {
  from { background-position: -96px -320px; }
  to { background-position: -128px -320px; }
}

@-webkit-keyframes waterEast {
  from { background-position: -128px -320px; }
  to { background-position: -160px -320px; }
}

@-webkit-keyframes waterNorth {
  from { background-position: -160px -320px; }
  to { background-position: -192px -320px; }
}

@-webkit-keyframes waterWest {
  from { background-position: -192px -320px; }
  to { background-position: -224px -320px; }
}

@-webkit-keyframes waterSouth {
  from { background-position: -224px -320px; }
  to { background-position: -256px -320px; }
}
