.action-toolbar {
  text-align: center;
  margin-top: 12px;
}

.action-toolbar .btn-group > .dropdown-menu li {
  text-align: left;
}

.action-toolbar .btn-group > .dropdown-menu li [class^="icon-"],
.action-toolbar .btn-group > .dropdown-btn [class^="icon-"] {
  margin-right: 4px;
}
