.action-toolbar {
  text-align: center;
  margin-top: 12px;
}

.action-toolbar .btn-group-vertical > .btn {
  width: 100%;
  text-align: left;
}

.action-toolbar .btn-group-vertical .btn [class^="icon-"] {
  margin-right: 7px;
}
