@import url("creature.css");

.map-viewport {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}

.map-tile {
  float: left;
  width: 16px;
  height: 16px;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 0 #000;
  background-image: url(../images/tileset_space.png?bust=5);
  cursor: pointer;
}

.map-tile:hover:after {
  content: " ";
  width: 16px;
  height: 16px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  margin-left: -8px;
  border-radius: 4px;
}

.entity-tile {
  position: absolute;
  width: 16px;
  height: 16px;
  background-position: 0 0;
  background-image: url(../images/tileset_terra.png?bust=123);
}

.water-tile {
  -webkit-animation: waterWaves 2s steps(2) infinite;
}

@-webkit-keyframes waterWaves {
  from { background-position: -224px -272px; }
  to { background-position: -256px -272px; }
}
